# .coveragerc to control coverage.py
[run]
branch = False

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    except ModuleNotFoundError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

    # Don't complain if debug statements are missed:
    if logging.root.level == logging.INFO:

    # Ignore pass statement
    pass

ignore_errors = True

omit  =
    # Ignore abstract class
    esofile_reader\base_file.py
    esofile_reader\tables\base_tables.py
    esofile_reader\storage\base_storage.py
    venv\*
    .venv\*
    tests\*
    *\__init__.py

[paths]
source =
    ./esofile_reader/

[html]
directory = htmlcov